<section id="contact">
            <div class="container">
                <h1 class="headline">Contact</h1>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col d-grid">
                                <h3>Nontre adresse</h3>
                                <div class="separator"></div>
                                <marquee behavior="" direction="">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing...
                                </marquee>
                                <div class="iframe-container">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.2156138385935!2d-3.9900010255247502!3d5.384068735355705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1935584523fa5%3A0xf1df22f1d6f49aff!2sEspace%20Gastronomique%20-%20Le%20Go%C3%BBt%20plus!5e0!3m2!1sfr!2sci!4v1709664007648!5m2!1sfr!2sci"
                                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <form action="">
                            <h3>Laissez nous un message</h3>
                            <div class="separator"></div>
                            <div class="row mt-2">
                                <div class="col-12 col-md-6">
                                    <div class="group d-flex flex-column">
                                        <label for="name">Votre nom</label>
                                        <input type="text" id="name">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <div class="group d-flex flex-column">
                                        <label for="number">Votre numéro</label>
                                        <input type="number" id="number">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                    <div class="group d-flex flex-column">
                                        <label for="email">Votre couriel</label>
                                        <input type="email" id="name">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="message">Votre message</label>
                                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-grid gap-2 col-6 mx-auto">
                                    <button type="submit" class="btn btn-success">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>