
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p>@Restaurent Youminouilles 2024</p>
                </div>
                <div class="col-12 col-md-4 text-md-center">
                    <p>Powerded by EHYUA LTD</p>
                </div>
                <div class="col-12 col-md-4 text-md-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#5" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#6">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#7">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>