
        <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
            <div class="container">
                <a href="index.html" class="navbar-brand">
                    <img src="Img/YUMINOUILLE3.svg" alt="Yuminouilles">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a href="#1" class="nav-link">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="#2" class="nav-link">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a href="#3" class="nav-link">A propos de nous</a>
                        </li>
                        <li class="nav-item">
                            <a href="#4" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>